body{
margin : 0;
cursor: url("img/curseur.png"), pointer;
font-family : "sertig";
overflow-y: auto;
min-width: 600px;
}

	test ,bvkuv
@font-face {
    font-family: "sertig";
    src: url('Sertig.otf');}

	@font-face {
font-family : "sketch";
src: url('Sketch Nice.ttf');}

#hea{ ykuu
position: fixed;
width : 100%;
}

#BarreHaut{jv vj
width : 100%;
height : 20px;
background-color: #4C4C4C;
}

		#nav{
			padding: 0; margin: 0;
			float:right;
			margin-right: 2%;
		}
		
		#nav li {
				display: inline;
				list-style: none; /* nécessaire pour IE7 */
		}
		
		#nav li a{
			color : white;
			font-size: 16px;
			text-decoration: none;
		}
	
		#nav li a:hover{
			color : white;
			font-size: 16px;
			text-decoration: underline;
		}
	
			#LangueFr{
			text-decoration : underline;
			color:white;
			}


#en_tete{
width : 100%;
height : 100px;
background-color:white;
}

		#slogan{
		float : left;
		width : 40%;
		height : 50px;
		font-size : 76px;
		font-family : sketch;
		margin-top : 10px;
		position : absolute;
		}
		
		
		#menu{
		float : right;
		width : 60%;
		height : 100%;
		list-style:none;
		text-align:center;
		}
		
		
		#menu ul {
		padding:0;
		margin-left:50px;
		margin-top:35px;
		}
	
		#menu ul li {
			display: inline;
		}
		
			#menu ul li a {
				display: block;
				float: left;
				width: 130px;
				height: 40px;
				font-size: 15px;
				color: #777;
				text-transform: uppercase;
				text-decoration: none;
				line-height: 39px;				
			}
		
			#menu ul li a:hover, #menu ul li a.on {
				color:rgba(1,151,171,1);
				box-shadow: 2px 2px 2px #ccc;
				font-weight: bold;
				border-radius:20px;
                transition: 0.3s ease;
			}

		
		#bouton{
		margin-right: 10px;
		}


#marge_top{
width : 100%;
height:120px;
background-color: #E5DDDD;
}
		
#corps{
width : 100%;
height : 660px;
background-color: #E5DDDD;

}
		
		#partie_gauche{
		float : left;
		width : 45%;
		height : 100%;
		}
		
		#partie_gauche .logo {
		
		}
		
		
		#partie_droite{
		float : right;
		width : 55%;
		height : 100%;
		}
		
		#partie_droite ul {
		
		margin-top:30px;
		}
		
		#partie_droite .titre {
		margin-top : 100px;
		font-size:42px;
		text-transform:uppercase;
		color:#424242;
		font-weight:bold;
		}
		
			.boutons{
			width : 150px;
			height : 150px;
			padding : 15px;
			margin-top : 30%;
			}


#bas_page{
width : 100%;
height : 200px;
background-color: rgba(239,57,50,1);
margin-top: 3px;
position: absolute; bottom: 0;
}

		.social{
		width:130px;
		height:130px;
		}

		#legal{
		
		}
	
		#gauche{
		
		}
		
		#droite{
		margin-right:5%;	
		}










										/* BOUTON PAGE ACCUEIL*/
* {
	margin: 0;
	padding: 0;
  	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


	#partie_droite li {
		list-style: none;
		position: relative;
		display: inline-block;
		width: 150px;
		height: 150px;
		margin-right :40px;
	}

	#partie_droite .round {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top: 50px;		
		text-decoration: none;		
		text-align: center;
		font-size: 29px;		
	/*  text-shadow: 0 1px 0 rgba(255,255,255,.7);  */
		letter-spacing: -.065em;
		
		-webkit-transition: all .20s ease-in-out;
		-o-transition: all .20s ease-in-out;
		-moz-transition: all .20s ease-in-out;
		transition: all .25s ease-in-out;
		box-shadow: 2px 2px 7px rgba(0,0,0,.2);
		border-radius: 300px;
		z-index: 1;
		border-width: 4px;
		border-style: solid;
		
	}

	#partie_droite .round:hover {
		width: 120.25%;
		height: 120.25%;
		left: -10%;
		top: -10%;
		font-size: 35px;
		padding-top: 38px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
}

	#partie_droite a.red {
		background-color: rgba(235,30,32,1);
		color: rgba(255,255,255,1);	
		border-color: rgba(133,32,28,.2);
	}

	#partie_droite a.red:hover {
		color: rgba(239,57,50,1);
	}

	#partie_droite a.blue {
		background-color: rgba(84,198,202,1);
		color: rgba(255,255,255,1);	
		border-color: rgba(0,63,71,.2);

	}

	#partie_droite a.blue:hover {
		color: rgba(1,151,171,1);
	}

	#partie_droite a.yellow {
		background-color: rgba(199,192,29,1);  /*couleur background sans surcouche*/
		color: rgba(255,255,255,1);				/*couleur police sans surcouche*/
		border-color: rgba(153,38,0,.2);		/*couleur contour rond*/
	}

	#partie_droite a.yellow:hover {            /*couleur police avec surcouche*/
		color: rgba(199,170,29,1);
	}

	#partie_droite .round span.round {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 3px;
		border: none;
		padding: 40% 20% 0 20%;
		color: #fff;
	}

	#partie_droite .round span:hover {
		opacity: .85;
		font-size: 22px;
		padding-top:70px;
		
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);	
	}

	
	#partie_droite .blue span {
		background: rgba(0,63,71,.7);		/* couleur surcouche*/
	}

	#partie_droite .red span {
		background: rgba(133,32,28,.7);		
	}

	#partie_droite .yellow span {
		background: rgba(161,145,0,.7);	

	}
	
	
						/* FIN DU BOUTON */